.reset-pass{
  width: 30vw;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}
.title{
  margin: 25px 0;
  color: dodgerblue;
  /* text-justify: lef; */
  margin-right: 200px;
}
.title-text {
  margin-right: 180px;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.sign-in-image{
  position: relative;
  margin: 25px 0;
}
.image-fluid{
  width: 100%;
  height: 80%;
  margin: 25px 0;
  border-radius: 5px;
}